// =================================================
//  Media Queries
//==================================================
 @mixin mq($break){
   @if $break == "small"{
     @media(min-width: $breakpoint-sm) and (max-width: $breakpoint-md){
       @content;
     }
   }
   @else if $break == "medium"{
     @media (min-width: $breakpoint-md +1){
       @content;
     }
   }
   @else if $break == "large" {
     @media(min-width: $breakpoint-lg){
       @content;
     }
   }
   @else {
     @error "No value could be retrieved for `#{$break}` "
   }
 }



// flex
@mixin flex{
  display: flex;
  justify-content: center;
}

// styleing buttons
@mixin bg-colors($map) {
  @each $theme, $color in $map{
  &--#{$theme} {
    background-color: $color;
  }
}
}
@mixin grid($flex) {
    @if $flex {
        @include flex;
    } @else {
        display: block;
    }
    @content
}
//Bem Selectors
@mixin e($element){
  &__#{$element}{
    @content;
  }
}
@mixin m($modifier){
  &--#{$modifier}
  {
    @content;
  }
}

//adjacent sibling margins
@mixin doubly($margin: 1em){
  & + &{
    margin-left: $margin;
    @content;
  }
}

// grid columns
