// media queries

@mixin small-screens{
  @media only screen and ($sm-screens) {

}
}
@mixin small-screens{
  @media only screen and ($lg-screens) {

}
}
// create a flex container
@mixin Flexbox{
  display: flex;
  justify-content: center;
}

// styleing buttons
@mixin bg-colors($map) {
  @each $theme, $color in $map{
  &--#{$theme} {
    background-color: $color;
  }
}
}
