//===============================================
// Helpers
//===============================================

// Clearfix
%clearfix{
  &::after{
    content:"";
    display: table;
    clear: both;
  }
}


//==============================================
//placeholder
//==============================================
//Headlines
 %headline--primary{
   font-family: $font-stack-primary;
   color: palette(black,base);
   font-weight: $font-weight--light;
   font-size: em(42px);
   line-height:(46px / 42px);
   margin-bottom: em(70px,42px);
   margin-top: 0;

 }
 %headline--secondary{
   font-family: $font-stack-tertiary;
   font-weight: $font-weight--thin;
   font-size: em(24px);
   color: palette(grey, light);
   letter-spacing:$letter-space;
 }

//nav Items

%nav-item-md{
  @include mq(medium){
  display: inline-block;
  margin: 0 em(12px);
  }
}
%nav-item-lg{
  @include mq(large){
  display: inline-block;
  margin: 0 em(12px);
  }
}

%nav-item-link{
  display: block;
  font-size: em(18px);
  font-weight: $font-weight--light;
  padding: em(8px);
  border-bottom: 1px solid transparent;
  margin: auto;
  font-family: $font-stack-primary;
  @include mq(small){
    padding-top: em(14px, 18px);
    padding-bottom: em(14px, 18px);
  }
}
%nav-item-on{
  color: $white;
  background-color: $color-primary;
}


// Buttons

%btn {
  padding: 15px 30px;
  border: 0;
  border-radius : $br--default;
  color: $white;
  text-transform: uppercase;
  font-size : em(14px);
  font-weight: $font-weight--medium;
  transition: opacity $trns-duration;
  display: block;
  &:hover {
    opacity: .75;
  }
  &:active {
    opacity: initial;
  }
}

//Grid
%grid {
  border-radius : $br--default;
  width: 100%;
  height: 50px;
  margin: 20px;
}
// //panels
// %panel-default{
//   padding-top: em(30px);
//   padding-bottom: em(20px);
// }
// %panel-padding{
//   padding-top: em(80px);
//   padding-bottom: em(34px);
// }
// center align
%center-align {
	text-align: center;
}
// sixing for Buttons/grid/nav elements
%grid-sz{
  width: 90%;
  height: 50px;
  margin: 20px;
}
// Center elements

%centered {
	float: none;
	margin-left: auto;
	margin-right: auto;
}
