.btn{

  @include bg-colors($ui-colors);
  &--default,
  &--success,
  &--error,
  &--warning,
  &--info{
    @extend %btn;
    width: 90%;
    height: 50px;
    margin: 20px;
    color:$white;
  }
}
