.btn{

  @include bg-colors($ui-colors);
  &--default,
  &--success,
  &--error,
  &--warning,
  &--info{
    @extend %btn;
    @extend %grid;
    color:$white;
    width:100%;
    @include mq(large){
      display: inline-block;
      
    }
  }
}
