//Images
.img {
  @extend %centered;
  margin-bottom: em(24px);
  max-width: 100%;
  height:auto;
  @include grid(flex);
  justify-content: center;
  &--frame {
    border: 1px solid palette(grey,x-light);
    padding: em(12px);
  }
  &--avatar{
    display:block;
    border-radius:$br--round;

  }
  &--logo{
    @extend %nav-item-lg;
    padding-top: 20px;
    display: block;
    margin: auto;

  }
}

.grid_col a{
  padding: 20px;

}
