//Images
.img {
  @extend %centered;
  @extend %img;
  &--frame {
    border: 1px solid palette(grey,x-light);
    padding: em(12px);
    @include mq(small){
      margin: auto;
      display: block;
    }
  }
  &--avatar{
    // display:block;
    border-radius:$br--round;
    margin: auto;
  }
  &--logo{
    padding-top: 20px;
    // display: block;
    margin: auto;

  }
}


// *2nd nested element to adress .img--frame
// and the .img--avatar overlapping*
.grid__col--6{
  .img--avatar{
    margin-left: 150px;
  }
}
