//==================================================
//Nav
//==================================================
.grid_row{
    display:flex;
}
.nav{
  display: inline-block;
  margin-top: em(20px);
  margin-bottom: em(30px);
  @extend %nav-item-link;

@include e(item){
  @extend %nav-item-md;
  @extend %center-align;
    a{
      @extend %nav-item-link;
      text-decoration: none;
      color: palette(grey);
      @include mq(large){
        flex-direction: column;
      }
      &:hover{
        @extend %nav-item-on;
      }
    }


  }
}
