//Headlines
.headline{
  &--primary{

    @extend %headline--primary;
    margin-bottom: em(70px, 42px);
  }
  &--secondary{

    @extend %headline--secondary;
    margin-bottom: em(22px, 42px);
  }
}

//blcok quotes
.blockquote{
  font-size: em(24px);
  font-style: italic;
  font-weight: $font-weight--light;
  margin: em(32px, 24px) ;
  padding: 0 0 0 5%;
  border-left: solid 10px $emerald ;
}
